<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="page-title" th:text="${title}">ToDo</h1>
        <p>&#x3084;&#x308B;&#x3053;&#x3068;&#x3092;&#x7BA1;&#x7406;&#x3059;&#x308B;&#x30C8;&#x30C3;&#x30D7;&#x30DA;&#x30FC;&#x30B8;&#x3067;&#x3059;&#x3002;</p>
    </div>
</body>
</html>
